* {
   margin: 0;
   padding: 0;
}
.box {
   height: 100px;
   width: 100px;
   border: 3px solid black;
   margin-right: 5px;
}
#heading {margin-left: 200px;}
#container {
   height: 150px;
   width: 600px;
   padding: 10px;
   border: 3px solid black;
   
   display: flex;
   justify-content: space-evenly;
}
#box1 {background-color: blue;}
#box2 {background-color: rgb(255, 174, 0);}
#box3 {background-color: rgb(255, 0, 170);}
#box4 {background-color: rgb(98, 255, 0);}
